function Chicken.drawRightChicken 1
    push constant 16384
    push argument 0
    add
    pop local 0
    push local 0
    push constant 7936
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 32
    add
    push constant 15296
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 64
    add
    push constant 14560
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 96
    add
    push constant 12336
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 128
    add
    push constant 7784
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 160
    add
    push constant 32356
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 192
    add
    push constant 12
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 224
    add
    push constant 12
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 256
    add
    push constant 12
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 288
    add
    push constant 15
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 320
    add
    push constant 63
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 352
    add
    push constant 240
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 384
    add
    push constant 480
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 416
    add
    push constant 1984
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 448
    add
    push constant 1984
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 480
    add
    push constant 960
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 512
    add
    push constant 224
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 544
    add
    push constant 112
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 576
    add
    push constant 48
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 608
    add
    push constant 56
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 640
    add
    push constant 56
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 672
    add
    push constant 248
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 704
    add
    push constant 240
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 736
    add
    push constant 480
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 768
    add
    push constant 1984
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 800
    add
    push constant 16640
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 832
    add
    push constant 512
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 864
    add
    push constant 16384
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 896
    add
    push constant 16384
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 928
    add
    push constant 16384
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 960
    add
    push constant 16384
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 161
    add
    push constant 30721
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 193
    add
    push constant 32263
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 225
    add
    push constant 32526
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 257
    add
    push constant 25580
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 289
    add
    push constant 7944
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 321
    add
    push constant 8144
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 353
    add
    push constant 8192
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 385
    add
    push constant 16384
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 417
    add
    push constant 16384
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 449
    add
    push constant 8192
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 481
    add
    push constant 8192
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 513
    add
    push constant 8192
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 545
    add
    push constant 4096
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 577
    add
    push constant 28672
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 609
    add
    push constant 30720
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 641
    add
    push constant 15360
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 673
    add
    push constant 7680
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 705
    add
    push constant 3968
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 737
    add
    push constant 960
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 769
    add
    push constant 495
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 801
    add
    push constant 127
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 833
    add
    push constant 48
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 865
    add
    push constant 48
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 897
    add
    push constant 48
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 929
    add
    push constant 48
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 961
    add
    push constant 48
    call Memory.poke 2
    pop temp 0
    push constant 0
    return
function Chicken.drawLeftChicken 1
    push constant 16384
    push argument 0
    add
    pop local 0
    push local 0
    push constant 160
    add
    push constant 32738
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 192
    add
    push constant 8066
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 224
    add
    push constant 28926
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 256
    add
    push constant 14278
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 288
    add
    push constant 7943
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 320
    add
    push constant 3079
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 352
    add
    push constant 7
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 384
    add
    push constant 3
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 416
    add
    push constant 3
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 448
    add
    push constant 7
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 480
    add
    push constant 7
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 512
    add
    push constant 7
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 544
    add
    push constant 15
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 576
    add
    push constant 14
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 608
    add
    push constant 30
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 640
    add
    push constant 60
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 672
    add
    push constant 120
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 704
    add
    push constant 496
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 736
    add
    push constant 960
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 768
    add
    push constant 2176
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 800
    add
    push constant 512
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 832
    add
    push constant 3072
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 864
    add
    push constant 3072
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 896
    add
    push constant 3072
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 928
    add
    push constant 3072
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 960
    add
    push constant 3072
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 1
    add
    push constant 248
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 33
    add
    push constant 988
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 65
    add
    push constant 1820
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 97
    add
    push constant 3084
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 129
    add
    push constant 6535
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 161
    add
    push constant 14721
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 193
    add
    push constant 12288
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 225
    add
    push constant 12288
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 257
    add
    push constant 12288
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 289
    add
    push constant 4096
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 321
    add
    push constant 1024
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 353
    add
    push constant 3840
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 385
    add
    push constant 1920
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 417
    add
    push constant 992
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 449
    add
    push constant 992
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 481
    add
    push constant 960
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 513
    add
    push constant 1792
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 545
    add
    push constant 3584
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 577
    add
    push constant 3072
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 609
    add
    push constant 7168
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 641
    add
    push constant 7168
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 673
    add
    push constant 7936
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 705
    add
    push constant 3840
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 737
    add
    push constant 1920
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 769
    add
    push constant 992
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 801
    add
    push constant 253
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 833
    add
    push constant 127
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 865
    add
    push constant 3
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 897
    add
    push constant 3
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 929
    add
    push constant 3
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 961
    add
    push constant 3
    call Memory.poke 2
    pop temp 0
    push constant 0
    return