function eggGraphic.drawEgg 1
    push constant 16384
    push argument 0
    add
    pop local 0
    push local 0
    push constant 1984
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 32
    add
    push local 0
    push constant 32
    add
    call Memory.peek 1
    push constant 8176
    add
    push local 0
    push constant 32
    add
    call Memory.peek 1
    push constant 8176
    and
    sub
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 64
    add
    push local 0
    push constant 64
    add
    call Memory.peek 1
    push constant 14360
    add
    push local 0
    push constant 64
    add
    call Memory.peek 1
    push constant 14360
    and
    sub
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 96
    add
    push local 0
    push constant 96
    add
    call Memory.peek 1
    push constant 14348
    add
    push local 0
    push constant 96
    add
    call Memory.peek 1
    push constant 14348
    and
    sub
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 128
    add
    push local 0
    push constant 128
    add
    call Memory.peek 1
    push constant 28678
    add
    push local 0
    push constant 128
    add
    call Memory.peek 1
    push constant 28678
    and
    sub
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 160
    add
    push local 0
    push constant 160
    add
    call Memory.peek 1
    push constant 28674
    add
    push local 0
    push constant 160
    add
    call Memory.peek 1
    push constant 28674
    and
    sub
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 192
    add
    push local 0
    push constant 192
    add
    call Memory.peek 1
    push constant 24579
    add
    push local 0
    push constant 192
    add
    call Memory.peek 1
    push constant 24579
    and
    sub
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 224
    add
    push local 0
    push constant 224
    add
    call Memory.peek 1
    push constant 24579
    add
    push local 0
    push constant 224
    add
    call Memory.peek 1
    push constant 24579
    and
    sub
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 256
    add
    push local 0
    push constant 256
    add
    call Memory.peek 1
    push constant 24579
    add
    push local 0
    push constant 256
    add
    call Memory.peek 1
    push constant 24579
    and
    sub
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 288
    add
    push local 0
    push constant 288
    add
    call Memory.peek 1
    push constant 12291
    add
    push local 0
    push constant 288
    add
    call Memory.peek 1
    push constant 12291
    and
    sub
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 320
    add
    push local 0
    push constant 320
    add
    call Memory.peek 1
    push constant 12291
    add
    push local 0
    push constant 320
    add
    call Memory.peek 1
    push constant 12291
    and
    sub
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 352
    add
    push local 0
    push constant 352
    add
    call Memory.peek 1
    push constant 6151
    add
    push local 0
    push constant 352
    add
    call Memory.peek 1
    push constant 6151
    and
    sub
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 384
    add
    push local 0
    push constant 384
    add
    call Memory.peek 1
    push constant 7182
    add
    push local 0
    push constant 384
    add
    call Memory.peek 1
    push constant 7182
    and
    sub
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 416
    add
    push local 0
    push constant 416
    add
    call Memory.peek 1
    push constant 3612
    add
    push local 0
    push constant 416
    add
    call Memory.peek 1
    push constant 3612
    and
    sub
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 448
    add
    push local 0
    push constant 448
    add
    call Memory.peek 1
    push constant 2040
    add
    push local 0
    push constant 448
    add
    call Memory.peek 1
    push constant 2040
    and
    sub
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 480
    add
    push local 0
    push constant 480
    add
    call Memory.peek 1
    push constant 496
    add
    push local 0
    push constant 480
    add
    call Memory.peek 1
    push constant 496
    and
    sub
    call Memory.poke 2
    pop temp 0
    push constant 0
    return